<!-- BEGIN FOOTER -->
<footer id="footer" class="bg-color pattern">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>&copy; 2018 All rights reserved. Developed by Frederico Berger.</p>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
