<!-- BEGIN FOOTER -->
<footer id="footer" class="bg-color pattern">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>&copy; 2018 All rights reserved. Developed by Frederico Berger.</p>

        <!-- BEGIN SOCIAL ICONS -->
        <ul class="sn-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
