<!-- BEGIN BRIDESMAIDS & GROOMSMEN SECTION -->
<section id="bridesmaidsgroomsmen" class="divider-bottom-3 parallax bg-color-overlay" data-stellar-background-ratio="0.5" style="padding-bottom: 0;">
  <div class="divider-top-1"></div> <!-- The class "divider-top-1" can also be applied to the tag <section>. In this case, it was added on a new <div> because the tag <section> have all pseudo elements (::after and ::before) in use. -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title">Para alegrar nosso dia</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="girls-boys-buttons center">
          <button data-slider="girls-slider" class="btn btn-default2 active">Daminhas</button>
          <button data-slider="boys-slider" class="btn btn-default2">Pajens</button>
        </div>

        <!-- Begin Bridesmaid slider -->
        <div id="girls-slider" class="owl-carousel girls-boys-slider">
          <div class="item" data-animation-direction="from-bottom" data-animation-delay="250" style="opacity: 0">
            <div class="image">
            </div>
          </div>

          <div class="item" data-animation-direction="from-bottom" data-animation-delay="450">
            <div class="image">
              <a href="#" class="info">
                <h3>Lili e Bia</h3>
              </a>
              <img src="images/daminha1.jpg" alt="" />
            </div>
          </div>

          <div class="item" data-animation-direction="from-bottom" data-animation-delay="250">
            <div class="image">
              <a href="#" class="info">
                <h3>Lele</h3>
              </a>
              <img src="images/daminha2.jpg" alt="" />
            </div>
          </div>

          <div class="item" data-animation-direction="from-bottom" data-animation-delay="450" style="opacity: 0">
            <div class="image">
            </div>
          </div>
        </div>
        <!-- End Bridesmaid slider -->

        <!-- Begin Groomsmen slider with class "hide" -->
        <div id="boys-slider" class="owl-carousel girls-boys-slider hide">
          <div class="item" style="opacity: 0">
            <div class="image">
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Tutu</h3>
              </a>
              <img src="images/pagem1.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Rafa</h3>
              </a>
              <img src="images/pagem2.jpg" alt="" />
            </div>
          </div>

          <div class="item" style="opacity: 0">
            <div class="image">
            </div>
          </div>
        </div>
        <!-- End Groomsmen slider -->

      </div>
    </div>
  </div>
</section>
<section id="bridesmaidsgroomsmen" class="divider-bottom-3 parallax bg-color-overlay" data-stellar-background-ratio="0.5" style="padding-top: 0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title">Nossos Padrinhos</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="bridesmaids-groomsmen-buttons center">
          <button data-slider="bridesmaids-slider" class="btn btn-default2 active">Noiva</button>
          <button data-slider="groomsmen-slider" class="btn btn-default2">Noivo</button>
        </div>

        <!-- Begin Bridesmaid slider -->
        <div id="bridesmaids-slider" class="owl-carousel bridesmaids-groomsmen-slider">
          <div class="item" data-animation-direction="from-bottom" data-animation-delay="250">
            <div class="image">
              <a href="#" class="info">
                <h3>Ana Clara</h3>
              </a>
              <img src="images/padrinhosNoiva1.jpg" alt="" />
            </div>
          </div>

          <div class="item" data-animation-direction="from-bottom" data-animation-delay="450">
            <div class="image">
              <a href="#" class="info">
                <h3>Silvia & Walter</h3>
              </a>
              <img src="images/padrinhosNoiva2.jpg" alt="" />
            </div>
          </div>

          <div class="item" data-animation-direction="from-bottom" data-animation-delay="650">
            <div class="image">
              <a href="#" class="info">
                <h3>Giovana & Gui</h3>
              </a>
              <img src="images/padrinhosNoiva3.jpg" alt="" />
            </div>
          </div>

          <div class="item" data-animation-direction="from-bottom" data-animation-delay="850">
            <div class="image">
              <a href="#" class="info">
                <h3>Vanessa & Henrique</h3>
              </a>
              <img src="images/padrinhosNoiva4.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Nana</h3>
              </a>
              <img src="images/padrinhosNoiva5.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Bruno</h3>
              </a>
              <img src="images/padrinhosNoiva6.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Vanessa & Heitor</h3>
              </a>
              <img src="images/padrinhosNoiva7.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Marcel</h3>
              </a>
              <img src="images/padrinhosNoiva8.jpg" alt="" />
            </div>
          </div>
        </div>
        <!-- End Bridesmaid slider -->

        <!-- Begin Groomsmen slider with class "hide" -->
        <div id="groomsmen-slider" class="owl-carousel bridesmaids-groomsmen-slider hide">
          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Jan & André</h3>
              </a>
              <img src="images/padrinhosNoivo2.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Paty & Naninho</h3>
              </a>
              <img src="images/padrinhosNoivo1.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Lá & Rodrigo</h3>
              </a>
              <img src="images/padrinhosNoivo4.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Ana Paula & Gui</h3>
              </a>
              <img src="images/padrinhosNoivo5.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Theo</h3>
              </a>
              <img src="images/padrinhosNoivo3.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Johnny</h3>
              </a>
              <img src="images/padrinhosNoivo6.jpg" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="image">
              <a href="#" class="info">
                <h3>Ju & Jonas</h3>
              </a>
              <img src="images/padrinhosNoivo7.jpg" alt="" />
            </div>
          </div>
        </div>
        <!-- End Groomsmen slider -->

      </div>
    </div>
  </div>
</section>
<!-- END BRIDESMAIDS & GROOMSMEN SECTION -->
