<!-- BEGIN GALLERY SECTION -->
<section id="gallery" class="divider-bottom-3 bg-color-overlay parallax no-padding-bottom no-padding-top" data-stellar-background-ratio="0.5">
  <div class="divider-top-2"></div> <!-- The class "divider-top-2" can also be applied to the tag <section>. In this case, it was added on a new <div> because the tag <section> have all pseudo elements (::after and ::before) in use. -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="section-title">Fotos</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="section-desc center">
          <h3 class="gallery-desc">Nós gostaríamos de ver o casamento pelos seus olhos.<br>Use o <strong>Instagram</strong> para compartilhar o melhor momento com a gente.</h3>
          <h1>#CasandoIseFred</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="gallery-wrapper">
    <div class="gallery-left"></div>
    <div class="gallery-right"></div>

    <div class="gallery-scroller">
      <ul>
        <li class="">
          <img src="images/gallery1.jpg" alt="" />
        </li> <!-- The list item with class "tweet" will be automatically populated with an Twitter post -->

        <li class="">
          <img src="images/gallery2.jpg" alt="" />
        </li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->

        <li class="">
          <img src="images/gallery3.jpg" alt="" />
        </li> <!-- The list item with class "tweet" will be automatically populated with an Twitter post -->

        <li class="">
          <img src="images/gallery4.jpg" alt="" />
        </li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->

        <li class="">
          <img src="images/gallery5.jpg" alt="" />
        </li> <!-- The list item with class "tweet" will be automatically populated with an Twitter post -->
      </ul>
      <ul>
        <li class="">
          <img src="images/gallery6.jpg" alt="" />
        </li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->

        <li class="">
          <img src="images/gallery7.jpg" alt="" />
        </li> <!-- The list item with class "tweet" will be automatically populated with an Twitter post -->

        <li class="">
          <img src="images/gallery8.jpg" alt="" />
        </li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->

        <li class="">
          <img src="images/gallery9.jpg" alt="" />
        </li> <!-- The list item with class "tweet" will be automatically populated with an Twitter post -->

        <li class="">
          <img src="images/gallery10.jpg" alt="" />
        </li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->
      </ul>
    </div>
  </div>
</section>
<!-- END GALLERY SECTION -->
