<!-- BEGIN WEDDING GIFTS SECTION -->
<section id="weddinggifts">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title">Presentes</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul class="wedding-gifts clearfix">
          <li id="gift-list" data-animation-direction="from-bottom" data-animation-delay="250">
            <i class="fa fa-at"></i><br>
            <h3>Confira nossas<br><strong>listas online</strong></h3>
            <div class="info">
              <a href="http://nossosite.fastshop.com.br/fredericoeanaluise/productList" target="_blank" class="img"><img src="images/fast.png" alt="Fastshop" /></a>
              <a href="http://www.camicado.com.br/weddinglist/products/0060390553" target="_blank" class="img"><img src="images/camicado.png" alt="Camicado" /></a>
            </div>
          </li>
          <li id="help-wedding" data-animation-direction="from-bottom" data-animation-delay="450">
            <i class="fa fa-home"></i><br>
            <h3>Confira nossa<br><strong>lista presencial</strong><br>(Promissão/SP)</h3>
            <div class="info">
              <img src="images/pratika.png" alt="Prátika Presentes" />
            </div>
          </li>
          <li id="help-honeymoon" data-animation-direction="from-bottom" data-animation-delay="650">
            <i class="fa fa-plane"></i><br>
            <h3>Nos presenteie com<br>uma lua de mel<br><strong>inesquecível</strong></h3>
            <div class="info">
              <br>
              <button type="button" class="btn btn-default2" data-toggle="modal" data-target="#giftModal">
                Ver Cotas
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- END WEDDING GIFTS SECTION -->
