<!-- BEGIN HEADER -->
<header id="header">
  <section class="nav-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a href="#home" class="nav-logo"><img src="images/logo2.png" alt="" /></a>

          <!-- BEGIN MAIN MENU -->
          <nav class="navbar">
            <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>

            <ul class="nav navbar-nav">
              <li><a href="#home">Home</a></li>

              <li class="dropdown">
                <a href="#" data-toggle="dropdown" data-hover="dropdown">Noivos<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#ourstory">Nossa história</a></li>
                  <li><a href="#loveline">Linha do tempo</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#thewedding" data-toggle="dropdown" data-hover="dropdown">Casamento<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#location">Local</a></li>
                  <li><a href="#bridesmaidsgroomsmen">Padrinhos</a></li>
                  <li><a href="#weddinggifts">Presentes</a></li>
                </ul>
              </li>

              <li><a href="#gallery">Fotos</a></li>

              <li><a href="#rsvp">Confirmar presença</a></li>
            </ul>
          </nav>
          <!-- END MAIN MENU -->

        </div>
      </div>
    </div>
  </section>
</header>
<!-- END HEADER -->
