<!-- BEGIN HOME SECTION -->
<section id="home" class="divider-bottom-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-title curve">Ise & Fred</div>
        <div class="hero-text">O grande dia está chegando, faltam</div>
        <div class="hero-divider"></div>

        <div class="countdown"></div> <!-- Countdown container. Check the bottom of the document where the countdown is being initialized. -->

        <div class="hero-divider"></div>
      </div>
    </div>
  </div>

  <div id="freewall" class="free-wall">
    <div class="item">
      <img src="images/home/GrecoStudio-87.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-75.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-72.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-32.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-14.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-98.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-120.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-10.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-21.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-17.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-48.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-82.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-83.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-99.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-113.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-4.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-7.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/home/GrecoStudio-16.jpg" alt="" />
    </div>
  </div>
</section>
<!-- END HOME SECTION -->
