<!-- BEGIN WEDDING LOCATION SECTION -->
<section id="location">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title">Local do Casamento</h2>
      </div>
    </div>
  </div>

  <div id="map_canvas"></div>

  <div class="map_pins">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="pins">
            <li><i class="fa fa-bell-o"></i>Cerimônia</li>
            <li><i class="fa fa-glass"></i>Recepção</li>
            <li><i class="fa fa-bed"></i>Hotel (Hoteis em Lins com Vans de ida e volta)</li>
            <li><i class="fa fa-female"></i>Beleza</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map_pins">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="pins">
            <li>Cerimônia</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="location-info timeline">
          <div class="event_left" data-animation-direction="from-right" data-animation-delay="100">
            <div class="event_panel">
              <div class="info-left">
                <h4>Cerimônia<small>20:30</small></h4>
              </div>

              <div class="info-right">
                <h4>Paróquia Nossa Senhora Aparecida</h4>
                <p>Rua Coronel João Francisco Coelho, 181, Centro<br>Promissão - SP</p>
              </div>
            </div>
          </div>

          <div class="event_right" data-animation-direction="from-left" data-animation-delay="100">
            <div class="event_panel">
              <div class="info-left">
                <h4>Recepção</h4>
              </div>

              <div class="info-right">
                <h4>Salão de Festas Grand House</h4>
                <p>Avenida Silvano Faria, 222, Centro<br>Promissão - SP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="location-info timeline">
          <div class="event_left" data-animation-direction="from-right" data-animation-delay="100">
            <div class="event_panel">
              <div class="info-left">
                <h4>Hoteis</h4>
              </div>

              <div class="info-right">
                <p style="padding-bottom: 15px; border-bottom: 1px solid rgba(177, 177, 177, 0.5);"><strong>Hotel Esplanada</strong><br/>Av. Júlio Prestes, 930, Promissão-SP<br/>Tel.: (14) 3541-1644</p>
                <p style="padding-bottom: 15px; border-bottom: 1px solid rgba(177, 177, 177, 0.5);"><strong>Wanna Hotel</strong><br/>R. Voluntário Vitóriano Borges, 117 - Centro, Lins-SP<br/>Tel.: (14) 3523-1317</p>
                <p style="padding-bottom: 15px; border-bottom: 1px solid rgba(177, 177, 177, 0.5);"><strong>Hotel Pousada Barravento</strong><br/>R. Ver. Manoel Ouvinhas Júnior, 31 - Jardim Arapua, Lins-SP<br/>Tel.: (14) 3522-5050</p>
                <p style="padding-bottom: 15px; border-bottom: 1px solid rgba(177, 177, 177, 0.5);"><strong>Blue Tree Park Lins | Resort</strong><br/>Rod. Mal. Rondon, Km. 443,3, s/n - Zona Rural, Lins-SP<br/>Tel.: (14) 3533-6300</p>
                <p style="padding-bottom: 15px; border-bottom: 1px solid rgba(177, 177, 177, 0.5);"><strong>Cristal Palace Inn (Esgotado)</strong><br/>R. Apiacás, 85, Lins-SP<br/>Tel.: (14) 3533-3700</p>
                <p style="padding-bottom: 15px; border-bottom: 1px solid rgba(177, 177, 177, 0.5);"><strong>Cristal Palace Hotel (Esgotado)</strong><br/>R. Luiz Gama, 1771 - Bairro Xingú, Lins-SP<br/>Tel.: (14) 3511-0700</p>
                <p><strong>Hotel Ibis (Esgotado)</strong><br/>R. Floriano Peixoto, 1808 - Centro, Lins-SP<br/>Tel.: (14) 3511-0100</p>
              </div>
            </div>
          </div>

          <div class="event_right" data-animation-direction="from-left" data-animation-delay="100">
            <div class="event_panel">
              <div class="info-left">
                <h4>Beleza</h4>
              </div>

              <div class="info-right">
                <p style="padding-bottom: 15px; border-bottom: 1px solid rgba(177, 177, 177, 0.5);"><strong>Salão de Beleza Vanessa Zonetti</strong><br/>Rua Coronel João Francisco Coelho, 398, Promissão-SP<br/>Tel.: (14) 99843-2144</p>
                <p style="padding-bottom: 15px; border-bottom: 1px solid rgba(177, 177, 177, 0.5);"><strong>Salão Vera Lozano</strong><br/>Av. Júlio Prestes, 1393, Centro, Promissão-SP<br/>Tel.: (14) 3541-2241</p>
                <p style="padding-bottom: 15px; border-bottom: 1px solid rgba(177, 177, 177, 0.5);"><strong>Maycon Moreira Hairstylist</strong><br/>Rua Tomaz Antonio Gonzaga, 112, Jardim Ariano, Lins-SP<br/>Tel.: (14) 99118-4246</p>
                <p><strong>Exotic Center</strong><br/>Rua Nove de Julho, 321, Centro, Lins-SP<br/>Tel.: (14) 3523-4516</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END WEDDING LOCATION SECTION -->
