<!-- BEGIN WEDDING LOCATION SECTION -->
<section id="location">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title">Local do Casamento</h2>
      </div>
    </div>
  </div>

  <div id="map_canvas"></div>

  <div class="map_pins">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="pins">
            <li><i class="fa fa-bell-o"></i>Cerimônia</li>
            <li><i class="fa fa-glass"></i>Receção</li>
            <li><i class="fa fa-bed"></i>Hotel (Hoteis em Lins com Vans de ida e volta)</li>
            <li><i class="fa fa-female"></i>Beleza</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map_pins">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="pins">
            <li>Cerimônia</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="location-info timeline">
          <div class="event_left" data-animation-direction="from-right" data-animation-delay="100">
            <div class="event_panel">
              <div class="info-left">
                <h4>Cerimônia<small>20:30</small></h4>
              </div>

              <div class="info-right">
                <h4>Paróquia Nossa Senhora Aparecida</h4>
                <p>Rua Coronel João Francisco Coelho, 181, Centro<br>Promissão - SP</p>
              </div>
            </div>
          </div>

          <div class="event_right" data-animation-direction="from-left" data-animation-delay="100">
            <div class="event_panel">
              <div class="info-left">
                <h4>Recepção</h4>
              </div>

              <div class="info-right">
                <h4>Salão de Festas Grand House</h4>
                <p>Avenida Silvano Faria, 222, Centro<br>Promissão - SP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END WEDDING LOCATION SECTION -->
