<div class="modal" id="giftModal2" tabindex="-1" role="dialog" aria-labelledby="giftModal2Title" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle"><strong>Lista de presentes online </strong> (Compra 100% segura com PayPal - Parcele em até 10x sem juros) </h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Smart TV LG LED HD 32</h3>
							<img src="images/tv.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="B7FSR8XCHHU4S">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 1190,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Robô Aspirador de Pó Home Up Robot Plus</h3>
							<img src="images/robo.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="BS392234CDE4Y">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 780,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Mini Processador de Alimentos KitchenAid</h3>
							<img src="images/processador.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="XZD9QGK682HZQ">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 530,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Panela Elétrica de Pressão Electrolux Inox</h3>
							<img src="images/pressao.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="TR2EY3HFYVHYC">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
										R$ 410,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Balde de Gelo em Aço Inox</h3>
							<img src="images/gelo.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="NSSTD5QFGCS9N">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 320,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Jogo de Toalhas de Banho Gigante</h3>
							<img src="images/toalhas.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="DJLN8SPJF5M38">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 300,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Forno Elétrico Oster Convection Cook</h3>
							<img src="images/forno.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="QXBTKQF85WT4S">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 270,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Cafeteira Nespresso Essenza Mini</h3>
							<img src="images/nespresso.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="2G5Z7D6U74GHS">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 240,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Jogo para Assar e Servir com 04 Peças </h3>
							<img src="images/jogo.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="6G9F4WZBX99KU">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 210,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Panela Wok em Alumínio Antiaderente</h3>
							<img src="images/wok.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="FHNTMS7FFYMV6">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 185,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Conjunto de Assadeiras em Inox</h3>
							<img src="images/assadeiras.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="X7RVP38GA963C">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 150,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Abridor de Vinho Black & Decker Inox</h3>
							<img src="images/abridor.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="U2SDBLDZVNHXY">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 135,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Sanduicheira Arno</h3>
							<img src="images/arno.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="SQBHSH7VE544C">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 120,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Cesto Alpha em Inox</h3>
							<img src="images/lixo.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="ZWQ22GZ6TRS46">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 100,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Conjunto de Copos em Vidro</h3>
							<img src="images/copo.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="HYDEAFUPPA7MU">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 90,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-12 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Pipoqueira Cadence</h3>
							<img src="images/pipoca.jpg" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="5E6TJY2244K9N">
								<div class="info" style="font-size: 30px; margin-bottom: 30px;">
									R$ 80,00
								</div>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
