<!-- BEGIN QUOTE SECTION -->
<section class="parallax quote-fullwidth bg-color-overlay" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        O seu dia mais feliz vai ser o mesmo que o meu.
      </div>
    </div>
  </div>
</section>
<!-- END QUOTE SECTION -->
