<!-- BEGIN TIMELINE SECTION -->
<section id="loveline" class="no-padding-top divider-bottom-2 divider-pattern divider-bg-color">
  <div class="container">
    <div class="row">
      <div class="timeline">
        <div class="year" data-animation-direction="from-top" data-animation-delay="250"><span class="ribbon">2016</span></div>

        <div class="event_left" data-animation-direction="from-right" data-animation-delay="250">
          <div class="event_panel">
            <h3>16 Jan: Primeira foto</h3>
            <img src="images/primeira.jpg" alt="" />
          </div>
        </div>

        <div class="event_right" data-animation-direction="from-left" data-animation-delay="550">
          <div class="event_panel">
            <h3>21 Jan: Pedido de Namoro</h3>
            <img src="images/pedido.jpg" alt="" />
          </div>
        </div>

        <div class="event_left" data-animation-direction="from-right" data-animation-delay="650">
          <div class="event_panel">
            <h3>Junho: Viajando! Paris, Londres e Amsterdam</h3>
            <div class="owl-carousel timeline-gallery">
              <div class="item">
                <a href="images/paris.jpg" data-gal="prettyPhoto[gallery-timeline]" title="Paris"><span class="btn btn-default2">+</span></a>
                <img src="images/paris_xs.jpg" alt="" />
              </div>

              <div class="item">
                <a href="images/londres.jpg" data-gal="prettyPhoto[gallery-timeline]" title="Londres"><span class="btn btn-default2">+</span></a>
                <img src="images/londres_xs.jpg" alt="" />
              </div>

              <div class="item">
                <a href="images/amsterdam.jpg" data-gal="prettyPhoto[gallery-timeline]" title="Amsterdam"><span class="btn btn-default2">+</span></a>
                <img src="images/amsterdam_xs.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="year" data-animation-direction="from-top" data-animation-delay="250"><span class="ribbon">2017</span></div>

        <div class="event_left" data-animation-direction="from-right" data-animation-delay="450">
          <div class="event_panel">
            <h3>01 Jan: Viajando! Fortaleza</h3>
            <img src="images/fortaleza.jpg" alt="" />
          </div>
        </div>

        <div class="event_right" data-animation-direction="from-left" data-animation-delay="450">
          <div class="event_panel">
            <h3>08 Fev: Pedido de Casamento</h3>
            <img src="images/casamento.jpg" alt="" />
          </div>
        </div>

        <div class="event_left" data-animation-direction="from-right" data-animation-delay="650">
          <div class="event_panel">
            <h3>Agosto: Viajando! Gramado e Canela</h3>
            <div class="owl-carousel timeline-gallery">
              <div class="item">
                <a href="images/gramado.jpg" data-gal="prettyPhoto[gallery-timeline]" title="Our Vacations"><span class="btn btn-default2">+</span></a>
                <img src="images/gramado_xs.jpg" alt="" />
              </div>
              <div class="item">
                <a href="images/canela.jpg" data-gal="prettyPhoto[gallery-timeline]" title="Our Vacations"><span class="btn btn-default2">+</span></a>
                <img src="images/canela_xs.jpg" alt="" />
              </div>
              <div class="item">
                <a href="images/canela2.jpg" data-gal="prettyPhoto[gallery-timeline]" title="Our Vacations"><span class="btn btn-default2">+</span></a>
                <img src="images/canela2_xs.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="event_right" data-animation-direction="from-left" data-animation-delay="650">
          <div class="event_panel">
            <h3>Setembro: Viajando! Rio de Janeiro e Arraial do Cabo</h3>
            <div class="owl-carousel timeline-gallery">
              <div class="item">
                <a href="images/arraial.jpg" data-gal="prettyPhoto[gallery-timeline]" title="Our Vacations"><span class="btn btn-default2">+</span></a>
                <img src="images/arraial_xs.jpg" alt="" />
              </div>
              <div class="item">
                <a href="images/rir.jpg" data-gal="prettyPhoto[gallery-timeline]" title="Our Vacations"><span class="btn btn-default2">+</span></a>
                <img src="images/rir_xs.jpg" alt="" />
              </div>
              <div class="item">
                <a href="images/rio.jpg" data-gal="prettyPhoto[gallery-timeline]" title="Our Vacations"><span class="btn btn-default2">+</span></a>
                <img src="images/rio_xs.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="year" data-animation-direction="from-top" data-animation-delay="250"><span class="ribbon">2018</span></div>

        <div class="event_left" data-animation-direction="from-right" data-animation-delay="450">
          <div class="event_panel">
            <h3>01 Jan: O nosso ano!</h3>
            <img src="images/ano.jpg" alt="" />
          </div>
        </div>

        <div class="event_right" data-animation-direction="from-left" data-animation-delay="450">
          <div class="event_panel">
            <h3>28 Mai: Montando nossa casinha!</h3>
            <img src="images/casinha.jpg" alt="" />
          </div>
        </div>

        <div class="event_left" data-animation-direction="from-right" data-animation-delay="450">
          <div class="event_panel">
            <h3>20 Jul: Viajando! Belo Horizonte</h3>
            <img src="images/bh.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="timeline_footer">
        <div class="punchline">Embarcando para o nosso<span>Felizes para<br>sempre</span></div>
      </div>
    </div>
  </div>
</section>
<!-- END TIMELINE SECTION -->
