<!-- BEGIN THE WEDDING SECTION -->
<section id="thewedding" class="bg-color pattern divider-bottom-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="section-title">O Casamento</h1>
      </div>
    </div>
    <div class="row center">
      <div class="invite" data-animation-direction="from-left" data-animation-delay="100">
        <div class="invite_authors">
          Ise
          <span><i class="icon icon-arrow-right"></i>&<i class="icon icon-arrow-left"></i></span>
          Fred
        </div>

        <div class="invite_info">
          Convidam para seu Casamento
          <div class="date">
            20 . 10 . 2018
          </div>
          <div class="hour">às vinte horas e trinta minutos</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END THE WEDDING SECTION -->
