<div id="app">
    <div id="wrapper">
        <div class="container">
            <div class="row" style="margin-top: 45px;">
                <div class="col-sm-12">
                    <h2 class="section-title">Chá Bar SP</h2>
                    <h2 style="font-size: 23pt; float: none; text-align: center; margin: 0 auto 45px; position: relative; padding-bottom: 35px;">Ise & Fred</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Porta Copo MiniOda - vinho</h3>
                        <img src="images/cha/yoda.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="PYKATGTF4HE44">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 9,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Porta Copo MiniOda - cerveja</h3>
                        <img src="images/cha/yoda2.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="XZ8BAL4QT2URG">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 9,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Saladeira Pequena Opaline</h3>
                        <img src="images/cha/saladeira.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="UA32L96WACM4C">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 10,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Espeto Duplo 85cm</h3>
                        <img src="images/cha/espeto.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="AVFHSBBRGKDVS">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 11,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Porta-guardanapos Casual - Coza</h3>
                        <img src="images/cha/guardanapo.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="8B37SZKLZ9Y8S">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 12,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Prato cereal Cozy - Coza</h3>
                        <img src="images/cha/cereal.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="KH2Q7DK9XLVWY">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 12,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Espumadeira Beli</h3>
                        <img src="images/cha/espumadeira.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="5BHASCJLE3ACG">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 13,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Bandeja Cake - Coza</h3>
                        <img src="images/cha/bandejacake.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="WVS2SYCAVX5CC">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 14,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Cortador de Pizza - Asti</h3>
                        <img src="images/cha/cortador.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="XJX52WTCEK7K6">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 14,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Saleiro/pimenteiro Casual - Coza</h3>
                        <img src="images/cha/saleiro.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="BVQNXEPBXY4NQ">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 16,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Paliteiro Casual - Coza</h3>
                        <img src="images/cha/paliteiro.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="XU557DNQWPMSU">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 16,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Protetor de Mãos - Verona</h3>
                        <img src="images/cha/protetor.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="7AVYUGRY7L6KE">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 16,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Colher para Sorvete</h3>
                        <img src="images/cha/sorvete.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="ZPSCYJ37R5KV6">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 16,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Espremedor de Alho Inox - Mimo Style</h3>
                        <img src="images/cha/alho.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="E6352ZLJUQ9QL">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 17,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Pegador de Massa em Nylon Easy</h3>
                        <img src="images/cha/pegadormassa.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="4BU99NM4D88UY">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 17,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Pegador para Massa - Beli</h3>
                        <img src="images/cha/pegadormassa2.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="VR5G2U5EX3668">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 18,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Saleiro/Pimenteiro Quadrado - Parma</h3>
                        <img src="images/cha/saleiro2.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="D74ESE72EQ3RE">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 19,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Paliteiro Quadrado - Parma</h3>
                        <img src="images/cha/paliteiro2.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="677VDZRZ3S69U">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 19,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Conjunto 6 canecas - Coza</h3>
                        <img src="images/cha/canecas.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="VDNC47EDU6VC8">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 19,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Porta Copos La Casa</h3>
                        <img src="images/cha/lacasa.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="HU4RN73AF92J8">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 19,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Porta Copos Disquete</h3>
                        <img src="images/cha/disquete.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="Y8Y4BM7DT5MP2">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 19,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Espeto de Alumínio Simples - Mor</h3>
                        <img src="images/cha/espeto2.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="2ESKJEEDPR3SL">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 21,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Dosador - Beli 50 ml</h3>
                        <img src="images/cha/dosador.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="FXX4XVKYP68D2">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 22,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Conjunto 4 taças de sobremesa Cozy - Coza</h3>
                        <img src="images/cha/tacasobremesa.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="7KVCSDW9EGDB4">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 24,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Garrafa de vidro Caveira Skull</h3>
                        <img src="images/cha/caveira.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="6J6XZ372BFZT4">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 24,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Pote de Vidro Pequeno - Euro Home</h3>
                        <img src="images/cha/potepequeno.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="Q7B5WXXTGX3UG">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 27,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Jarra Casual 1L - Coza</h3>
                        <img src="images/cha/jarra.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="29A2GFF8HW2HL">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 29,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Garfo Trinchante 6 - Suprema</h3>
                        <img src="images/cha/garfao.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="MAVT6NLUPM8P4">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 29,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Conjunto de Garfos Petiscos - Beli</h3>
                        <img src="images/cha/garfopetisco.png" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="FJY3LBD5ZQFE2">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 34,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Faca 20cm Aço Inox Mundial</h3>
                        <img src="images/cha/facamondial.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="6J8A9WMPXJZG8">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 34,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Conjunto Potes Galinha Decorada</h3>
                        <img src="images/cha/galinha.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="HQQ2FFT7FVJPS">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 37,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <li class="wedding-gifts-item">
                        <h3>Chaleira Aço Inox - Solecasa</h3>
                        <img src="images/cha/chaleira.jpg" alt="" />
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="S65RQ4FWXC2K6">
                            <div class="info" style="font-size: 30px; margin-bottom: 30px;">
                                R$ 39,90
                            </div>
                            <input type="hidden" name="currency_code" value="BRL">
                            <button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2" style="font-size: 1.3em;">Adicionar ao carrinho</button>
                            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>